@font-face {
  font-family: Robotomono;
  src: url("../fonts/RobotoMono-Regular.ttf");
}

body {
  font-family: Robotomono;
  background-color: #f5f5f5;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem;
}
dl,
ol,
ul {
  margin-top: 0;
}

hr {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.header {
  height: 25rem;
  background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}

.personal-profile {
  color: #ffffff;
  font-weight: 900;
  font-family: Roboto Mono, monospace;
  padding-top: 100px;
}
.personal-profile .personal-profile__name {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.personal-profile .personal-profile__work {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.personal-profile .personal-profile__contacts {
  margin-bottom: 20px;
}

.contact-list {
  margin-left: 10em;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono, monospace;
}
.contact-list.contact-list__opacity-titles dt {
  opacity: 0.6;
}

.contact-list dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-list dd {
  padding-left: 100px;
  margin-bottom: 5px;
}
.contact-list dd a {
  color: #ffffff;
}

.personal-profile .personal-profile__social {
  margin-bottom: 35px;
}
.personal-profile .personal-profile__social a {
  font-size: 24px;
  margin-right: 15px;
  opacity: 0.4;
  color: #fff !important;
}
.img-me {
  width: 300px;
  border-radius: 5%;
}

.section1 {
  padding-top: 90px;
}

.section1 .section__title {
  margin: 3rem;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto Mono, monospace;
}
.section1 .section__description {
  margin: 3rem;
  margin-bottom: 30px;
  font-size: 20px;
  color: #757575;
}

.section2 {
  padding-top: 10px;
}

.section2 .section2__title {
  margin: 3rem;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto Mono, monospace;
}
.section2 .section2__description {
  margin: 3rem;
  margin-bottom: 30px;
  font-size: 20px;
  color: #757575;
}

@media screen and (max-width: 760px) {
  .personal-profile .personal-profile__name {
    color: black;
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .personal-profile .personal-profile__work {
    color: black;
  }

  .contact-list {
    margin: auto;
    color: black;
    text-align: center;
  }
  .contact-list dd a {
    color: #0e1111;
    text-align: center;
  }
  .contact-list.contact-list__opacity-titles dt {
    opacity: 0.4;
    margin-left: 4em;
  }
  .section2 {
    margin-top: 0px;
  }
  .personal-profile__avatar {
    text-align: center;
  }
  .section1 {
    padding-top: 25rem;
    padding-bottom: 50px;
  }
  .section1 .section__title {
    margin: 0rem;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono, monospace;
  }

  .section1 .section__description {
    margin: 0rem;
    margin-bottom: 30px;
    font-size: 16px;
    color: #757575;
    text-align: justify;
  }

  .section2 {
    padding-bottom: 50px;
  }

  .section2 .section2__title {
    margin: 0rem;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono, monospace;
  }
  .section2 .section2__description {
    margin: 0rem;
    margin-bottom: 30px;
    font-size: 16px;
    color: #757575;
    text-align: justify;
  }
}
.site-btn {
  background-color: #6d56c1;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff !important;
  font-weight: 600;
  overflow: hidden;
}

.blockquote {
  border-left: 3px solid rgb(20, 18, 14) !important;
  padding: 1.5rem 2rem;
  border-left: 0.25rem solid #eceeef;
}

/* .blockquote .school {
  padding-bottom: 5rem;
} */
.blockquote .sub-text {
  padding-left: 30px;
  font-size: 15px;
}

.img-skill {
  margin-right: 10px;
  width: 6rem;
}

.img-school {
  margin-right: 10px;
  width: 3rem;
}

.img-badge {
  width: 10rem;
}

.lang {
    margin: 20px 20px 10px auto;
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

.data {
    margin: 10px 20px auto auto;
    width: 30%;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .blockquote .school {
    padding-bottom: 1rem;
  }
  .blockquote .school-name {
    font-weight: bold;
    font-size: 14px;
  }

  .blockquote .sub-text {
    padding-left: 8px;
    font-size: 13px;
  }

  .img-badge {
    width: 16rem;
  }
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.footer {
  height: 40rem;
  background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}

.contacts .contacts__form input {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono, monospace;
}

.contacts .contacts__form .form-group .form-validation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  border: 2px solid #6d56c1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}
.contacts .contacts__form .form-group span {
  color: #fff;
  position: absolute;
  top: 10px;
  text-align: right;
  opacity: 0;
  right: 20px;
  z-index: 0;
}

.contacts .contacts__form textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 10px;
  height: 115px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono, monospace;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.send-btn {
  background-color: #1b1309;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;

  color: #fff !important;
  font-weight: 600;

}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.bg-primary {
  background-color: white !important;
}

.navbar-dark .navbar-brand {
  font-weight: 900;
  color: whitesmoke;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: whitesmoke;
}
.navbar-nav a:hover {
  border-style: solid white;
  border-radius: 10%;
  color:black !important;
  background-color: whitesmoke;
  transition: 0.2s;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  }
}

.top-nav-collapse {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bg-light {
  background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}
